doctype html
html(lang='en')

    head

        include includes/head

        title Dough Life - Edible Cookie Dough

    body

        include includes/header

        include includes/navbar

        section.page-section.clearfix
            .container
                .intro
                    img.intro-img.img-fluid.mb-3.mb-lg-0.rounded(src='assets/img/unicorn.jpg', alt='...')
                    .intro-text.left-0.text-center.bg-faded.p-5.rounded
                        h2.section-heading.mb-4
                            span.section-heading-upper Fresh Dough
                            span.section-heading-lower Worth Eating
                        p.mb-3
                            | We handmake every scoop of our delicious edible cookie dough. Once you try it, your expectations for dessert will be changed for ever. We guarantee that you will love our different varieties of cookie dough and our premium quality ice cream.
                        .intro-button.mx-auto
                            a.btn.btn-primary.btn-xl(href='#!') Visit Us Today!

        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-4
                                span.section-heading-upper Our Promise
                                span.section-heading-lower To You
                            p.mb-0
                                | When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. We hope you enjoy your time with us!

        include includes/footer

        include includes/scripts
