doctype html
html(lang='en')

    head

        include includes/head

        script(src='js/bootstrap.min.js')

        title Dough Life - Edible Cookie Dough

    body

        include includes/header

        include includes/navbar

npo

        section.page-section
            .container
                #cones.carousel.slide(data-bs-ride='carousel')
                    .carousel-indicators
                        button.active(type='button' data-bs-target='#cones' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                        button(type='button' data-bs-target='#cones' data-bs-slide-to='1' aria-label='Slide 2')
                        button(type='button' data-bs-target='#cones' data-bs-slide-to='2' aria-label='Slide 3')
                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='pictures/DL_General_Group_Americano_1.jpg' alt='...')
                            .carousel-caption.d-none.d-md-block.custom-carousel-text
                                h5 First slide label
                                p Some representative placeholder content for the first slide.
                        .carousel-item
                            img.d-block.w-100(src='pictures/Comics/[DHL]_Screens_Holidays_14.jpg' alt='...')
                            .carousel-caption.d-none.d-md-block.custom-carousel-text
                                h5 Second slide label
                                p Some representative placeholder content for the second slide.
                        .carousel-item
                            img.d-block.w-100(src='pictures/Random/[DHL]_Screens_Random-Acts-Of-Kindness_2.jpg' alt='...')
                            .carousel-caption.d-none.d-md-block.custom-carousel-text
                                h5 Third slide label
                                p Some representative placeholder content for the third slide.
                        .carousel-item
                            img.d-block.w-100(src='pictures/Random/[DHL]_Screens_Random-Acts-Of-Kindness_3.jpg' alt='...')
                            .carousel-caption.d-none.d-md-block.custom-carousel-text
                                h5 Enjoy our variety of flavors

                    button.carousel-control-prev(type='button' data-bs-target='#cones' data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    button.carousel-control-next(type='button' data-bs-target='#cones' data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.ms-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-upper Velvet & White Chocolate
                                span.section-heading-lower Lady in Red
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/lady_in_red.jpg' alt='...')
                    .product-item-description.d-flex.me-auto
                        .bg-faded.p-5.rounded
                            p.mb-0
                                | Edible Cookie Dough Red Velvet with White Chocolate Morsels. Every time you order a beverage from us, we guarantee that it will be an experience worth having. Whether it's our world famous Venezuelan Cappuccino, a refreshing iced herbal tea, or something as simple as a cup of speciality sourced black coffee, you will be coming back for more.

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.me-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-upper Mini Chocolate Morsels
                                span.section-heading-lower Classic Chip
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/classic_chip.jpg' alt='...')
                    .product-item-description.d-flex.ms-auto
                        .bg-faded.p-5.rounded
                            p.mb-0
                                | Edible Cookie Dough with Mini Chocolate Morsels. We source our ingredients from local, oragnic farms whenever possible, alongside premium vendors for specialty goods.

        section.page-section
            .container
                .product-item
                    .product-item-title.d-flex
                        .bg-faded.p-5.d-flex.ms-auto.rounded
                            h2.section-heading.mb-0
                                span.section-heading-upper Oreo Cookies
                                span.section-heading-lower The Tuxedo
                    img.product-item-img.mx-auto.d-flex.rounded.img-fluid.mb-3.mb-lg-0(src='assets/img/tuxedo.jpg' alt='...')
                    .product-item-description.d-flex.me-auto
                        .bg-faded.p-5.rounded
                            p.mb-0
                                | Edible Cookie Dough with Oreo Cookies. When you visit us, you'll always find new blends from around the world, mainly from regions in Central and South America. We sell our blends in smaller to large bulk quantities. Please visit us in person for more details.

        include includes/footer

        include includes/scripts
