doctype html
html(lang='en')

    head

        include includes/head

        script(src='js/bootstrap.min.js')

        title Dough Life - Edible Cookie Dough

    body

        include includes/header

        include includes/navbar

npo

    section.page-section
        .container
            #cones.carousel.slide(data-bs-ride='carousel')
                .carousel-indicators
                    button.active(type='button' data-bs-target='#cones' data-bs-slide-to='0' aria-current='true' aria-label='Slide 1')
                    button(type='button' data-bs-target='#cones' data-bs-slide-to='1' aria-label='Slide 2')
                    button(type='button' data-bs-target='#cones' data-bs-slide-to='2' aria-label='Slide 3')
                    button(type='button' data-bs-target='#cones' data-bs-slide-to='3' aria-label='Slide 4')
                    button(type='button' data-bs-target='#cones' data-bs-slide-to='4' aria-label='Slide 5')
                    button(type='button' data-bs-target='#cones' data-bs-slide-to='5' aria-label='Slide 6')
                    button(type='button' data-bs-target='#cones' data-bs-slide-to='6' aria-label='Slide 7')
                    button(type='button' data-bs-target='#cones' data-bs-slide-to='7' aria-label='Slide 8')
                    button(type='button' data-bs-target='#cones' data-bs-slide-to='8' aria-label='Slide 9')
                    button(type='button' data-bs-target='#cones' data-bs-slide-to='9' aria-label='Slide 10')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src='assets/img/DL_General_Group_Americano_1 - Copy.jpg' alt='...')
                        .carousel-caption.d-none.d-md-block.custom-carousel-text
                            h5 Americano
                    .carousel-item
                        img.d-block.w-100(src='assets/img/DL_General_Group_Brownie-Batter_1 - Copy.jpg' alt='...')
                        .carousel-caption.d-none.d-md-block.custom-carousel-text
                            h5 Brownie Batter
                    .carousel-item
                        img.d-block.w-100(src='assets/img/DL_General_Group_Classic-Chip_1 - Copy.jpg' alt='...')
                        .carousel-caption.d-none.d-md-block.custom-carousel-text
                            h5 Classic Chip
                    .carousel-item
                        img.d-block.w-100(src='assets/img/DL_General_Group_Mint-Dynasty_1.jpg' alt='...')
                        .carousel-caption.d-none.d-md-block.custom-carousel-text
                            h5 Mint Dynasty
                    .carousel-item
                        img.d-block.w-100(src='assets/img/DL_General_Group_Monster-LOTP_1 - Copy.jpg' alt='...')
                        .carousel-caption.d-none.d-md-block.custom-carousel-text
                            h5 Monster LOTP
                    .carousel-item
                        img.d-block.w-100(src='assets/img/DL_General_Group_Monster-M_M_1.jpg' alt='...')
                        .carousel-caption.d-none.d-md-block.custom-carousel-text
                            h5 Monster M
                    .carousel-item
                        img.d-block.w-100(src='assets/img/DL_General_Group_Old-Fashioned_1.jpg' alt='...')
                        .carousel-caption.d-none.d-md-block.custom-carousel-text
                            h5 Old Fashioned
                    .carousel-item
                        img.d-block.w-100(src='assets/img/DL_General_Group_Red-King-Caramel_1.jpg' alt='...')
                        .carousel-caption.d-none.d-md-block.custom-carousel-text
                            h5 Red King Caramel
                    .carousel-item
                        img.d-block.w-100(src='assets/img/DL_General_Group_Red-Lady-in-Red_1.jpg' alt='...')
                        .carousel-caption.d-none.d-md-block.custom-carousel-text
                            h5 Red Lady in Red
                    .carousel-item
                        img.d-block.w-100(src='assets/img/DL_General_Group_Tuxedo_1.jpg' alt='...')
                        .carousel-caption.d-none.d-md-block.custom-carousel-text
                            h5 Tuxedo
        button.carousel-control-prev(type='button' data-bs-target='#cones' data-bs-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden Previous
        button.carousel-control-next(type='button' data-bs-target='#cones' data-bs-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden Next

    include includes/footer

    include includes/scripts
