doctype html
html(lang='en')

    head

        include includes/head

        title Dough Life - Edible Cookie Dough

    body

        include includes/header

        include includes/navbar

        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-5
                                span.section-heading-upper Come On In
                                span.section-heading-lower We're Open
                            ul.list-unstyled.list-hours.mb-5.text-left.mx-auto
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Sunday
                                    span.ms-auto Closed
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Monday
                                    span.ms-auto 7:00 AM to 8:00 PM
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Tuesday
                                    span.ms-auto 7:00 AM to 8:00 PM
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Wednesday
                                    span.ms-auto 7:00 AM to 8:00 PM
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Thursday
                                    span.ms-auto 7:00 AM to 8:00 PM
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Friday
                                    span.ms-auto 7:00 AM to 8:00 PM
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Saturday
                                    span.ms-auto 9:00 AM to 5:00 PM
                            p.address.mb-5
                                em
                                    strong 1116 Orchard Street
                                    br
                                    | Golden Valley, Minnesota
                            p.mb-0
                                small
                                    em Call Anytime
                                br
                                | (317) 585-8468

        include includes/footer

        include includes/scripts
