doctype html
html(lang='en')

    head

        include includes/head

        title Dough Life - Edible Cookie Dough

    body

        include includes/header

        include includes/navbar

        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-5
                                span.section-heading-upper Come On In
                                span.section-heading-lower We're Open
                            ul.list-unstyled.list-hours.mb-5.text-left.mx-auto
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Monday-Saturday
                                    span.ms-auto 10:00 AM to 8:00 PM
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Sunday
                                    span.ms-auto 11:00 AM to 6:00 PM
                            p.address.mb-5
                                em
                                    strong 1500 New Britain Ave
                                    br
                                    | West Hartford, CT 06110
                            p.mb-0
                                small
                                    em Call Anytime
                                br
                                a(href='tel:+1-475-439-2414') (475) 439-2414

        include includes/footer

        include includes/scripts
